{% extends 'layout/head.html' %}
{% block title %}RESTAURANTS{% endblock %}
{% load static %}
{% block breadcrumb %}
		<nav aria-label="breadcrumb">
  			<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a class = "lien" href="{% url 'accueil' %}">Accueil</a></li>
    			<li class="breadcrumb-item active">RESTAURANTS</li>
  			</ol>
		</nav>
		{% endblock %}
{% block body %}
	{% for resto in restos %}
	<span class="telechargements">
		<button class="btn table-primary">
			<h2>{{ resto.name }}</h2>
			<div>
				<img class="resto-img" src="{{ resto.image }}" width="30%" height="30%">
			</div>
			<div>
				<h5>{{ resto.phone }}</h5>
			</div>
			<div>
				<h4>{{ resto.ville }}</h4>
			</div>
		</button>
	</span>
	{% endfor %}
{% endblock %}