.fond {
    background-color: #A9EAFE;
}
.page{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 15px;
    padding: 5%;
    background-color: #FFFFFF;
    margin-top: 15px;
}
.breadcrumb{
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    vertical-align: middle;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+) !important;
}
.resto-img{
    box-sizing:border-box;
    box-shadow:10px 10px 8px rgba(38, 196, 236, 1.0);
    border-left:3px solid #74D0F1;
    border-right:3px solid #74D0F1;
    border-top:3px solid #A9EAFE;
    border-left:3px solid #A9EAFE;
}